<%- include("header") -%>
    <!-- <% %> are controll tags which must be written line by line for basic js propouses -->
    <!-- <%= %> are outputs values into the template (html escaped) -->

    <div class="row d-flex justify-content-evenly align-items-center w-100">
        <div class="col-1 d-flex flex-column justify-content-center align-items-center flex-shink-0 bg-skyblue rounded-3 box-shadow nav-height">
            <div class="border-bottom w-100 text-center">
                <img class="icon-logo rounded py-3" src="images/logo-icon.png" alt="">
            </div>
            <ul class="nav nav-flush nav-pills mb-auto text-center w-100">
                <li class="nav-item w-100">
                    <a class="nav-link <%= active_home %> py-3 px-0 border-bottom text-decoration-none" href="/">
                        <svg class="icon icon-home" xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-house" viewBox="0 0 16 16">
                            <path fill-rule="evenodd" d="M2 13.5V7h1v6.5a.5.5 0 0 0 .5.5h9a.5.5 0 0 0 .5-.5V7h1v6.5a1.5 1.5 0 0 1-1.5 1.5h-9A1.5 1.5 0 0 1 2 13.5zm11-11V6l-2-2V2.5a.5.5 0 0 1 .5-.5h1a.5.5 0 0 1 .5.5z"/>
                            <path fill-rule="evenodd" d="M7.293 1.5a1 1 0 0 1 1.414 0l6.647 6.646a.5.5 0 0 1-.708.708L8 2.207 1.354 8.854a.5.5 0 1 1-.708-.708L7.293 1.5z"/>
                        </svg>
                    </a>
                </li>
                <li class="nav-item w-100">
                    <a class="nav-link <%= active_work%> py-3 px-0 text-decoration-none" href="/Work">
                        <svg class="icon icon-work" xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-person-workspace" viewBox="0 0 16 16">
                            <path d="M4 16s-1 0-1-1 1-4 5-4 5 3 5 4-1 1-1 1H4Zm4-5.95a2.5 2.5 0 1 0 0-5 2.5 2.5 0 0 0 0 5Z"/>
                            <path d="M2 1a2 2 0 0 0-2 2v9.5A1.5 1.5 0 0 0 1.5 14h.653a5.373 5.373 0 0 1 1.066-2H1V3a1 1 0 0 1 1-1h12a1 1 0 0 1 1 1v9h-2.219c.554.654.89 1.373 1.066 2h.653a1.5 1.5 0 0 0 1.5-1.5V3a2 2 0 0 0-2-2H2Z"/>
                        </svg>
                    </a>
                </li>
            </ul>
            <div class="mt-auto mb-3 border-top w-100 pt-3 text-center">
                <a class="text-decoration-none" href="/About">
                    <svg class="icon icon-account" xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-person" viewBox="0 0 16 16">
                        <path d="M8 8a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm2-3a2 2 0 1 1-4 0 2 2 0 0 1 4 0zm4 8c0 1-1 1-1 1H3s-1 0-1-1 1-4 6-4 6 3 6 4zm-1-.004c-.001-.246-.154-.986-.832-1.664C11.516 10.68 10.289 10 8 10c-2.29 0-3.516.68-4.168 1.332-.678.678-.83 1.418-.832 1.664h10z"/>
                    </svg>
                </a>
            </div>
        </div>

        <div class="col-7">
            <div class="box" id="heading">
                <h1><%= title %></h1>
            </div>
        
            <div data-bs-spy="scroll" data-bs-offset="0" class="scrollspy-example scroll-prepared" tabindex="0">
                <div class="box scroll-prepared">
                    <% new_items.forEach(new_item => { %>
                        <form action="/delete" method="post">
                            <div class="item">
                                <input type="checkbox" name="checkbox" value="<%= new_item._id %>" onchange="this.form.submit()">
                                <p> <%= new_item.name %> </p>
                            </div>
                            <input type="hidden" name="listName" value="<%= title %>">
                        </form>
                    <% }) %>
                </div>
            </div>
        
            <div class="box">
                <form class="item" action="/" method="post">
                    <input type="text" name="new_item" placeholder="New Item" autocomplete="off"> 
                    <button type="submit" name="list" value=<%= title %>> + </button>
                </form>
            </div>

            <footer>
                <p>&copy; Genaro Martinez - 2022 </p>
            </footer>
        </div>
    </div>

<%- include("footer") -%>